<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="AbpWebMvcModule" type="MyAbp.Web.Mvc.Web.Mvc.AbpWebMvcModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <!-- 配置不去校验是否是集成模式 -->
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- HttpModule配置（IIS7及以上版本） -->
    <modules>
      <add name="AbpWebMvcModule" type="MyAbp.Web.Mvc.Web.Mvc.AbpWebMvcModule"/>
    </modules>
  </system.webServer>
</configuration>
